<div>
    <h2>Home Page</h2>
    <p>Welcome to the Home Page!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam dolor ex possimus, voluptatum accusantium veritatis eveniet recusandae iure, quaerat nihil, facere consectetur quod omnis tempora quasi laborum quo! Eveniet quasi similique praesentium amet minus corporis numquam ullam asperiores corrupti porro animi aut adipisci deleniti, beatae odit totam pariatur? Cumque, dolorem!</p>

    <ul>
        <li><a routerLink="./child-a">Child A</a></li>
        <li><a routerLink="./child-b">Child B</a></li>
    </ul>
    <router-outlet></router-outlet>

</div>
  